//social buttons
.social-buttons a{
  padding-left:5px;
  padding-right:5px;
  font-size: 26px;
}

.social-buttons .fab,.fa-envelope{
  text-decoration: none;

  &:hover{
    text-decoration: none;

  }
}

