<div class="wrapper">
    <footer id="main-footer">
        <!--contact email-->
        <section class="p-0 p-lg-5 bg-dark upScene-js">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col">
                        <div class="contact bg-primary py-5 text-center">
                            <a class="text-dark" href="mailto:joblogs@hotmail.com">hi@dragoninfotech.com</a>
                        </div>
                    </div>
                </div>

                <div class="row no-gutters p-0 p-lg-5 text-center terms-conditions bg-primary text-light">

                    <div class="col-lg-4">
                        <p class="heading">DragonInfoTech</p>
                    </div>

                    <div class="col-lg-4">
                        <p>Terms & Conditions Apply</p>
                    </div>

                    <div class="col-lg-4">
                        <p><i class="fa fa-copyright" aria-hidden="true">2019 by DragonInfoTech</i></p>
                    </div>

                </div>

            </div>
        </section>

        <!--want to chat-->
        <div class="container-fluid text-center chat-bg-colour-js text-light">
            <div class="row">
                <div class="col">
                    <div class="chat">
                        <div class="chat__content p-2 p-lg-8">
                            <div class="chat__header">
                                <p>WANT TO CHAT<i class="fa fa-arrow-right pl-lg-3" aria-hidden="true"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TimelineLite.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>

<script src="{{ site.url }}/assets/js/source.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/js/jasny-bootstrap.min.js"></script>

</body>
</html>