<footer id="main-footer">
    <div class="container-fluid contact-footer py-3">
        <div class="row">

            <div class="col-sm-4 offset-sm-4">
                <div class="text-light text-center">
                    <address>
                        Dragon Signs<br>

                        Unit 7-8 Stadium Close<br>

                        Cardiff<br>

                        CF11 8TS<br>

                        029 2022 6501<br>

                        <div class="social-buttons my-2">
                            <a href="https://www.facebook.com/dragonsigns" class="fab fa-facebook-f fa-2x"></a>
                            <a href="https://twitter.com/dragon_signs" class="fab fa-twitter fa-2x"></a>
                            <!--<a href="https://plus.google.com/117843347073935131993" class="fab fa-google fa-2x"></a>-->
                            <a href="https://instagram.com/dragonsigns/" class="fab fa-instagram fa-2x"></a>
                        </div>

                        <div class="contact-details pt-1">
                            <a href="mailto:sales@dragonsigns.com">sales@dragonsigns.com</a><br>

                            Find Us on <a href="https://www.google.co.uk/maps/place/Dragon+Signs/@51.4599829,-3.1958504,18z/data=!3m1!4b1!4m2!3m1!1s0x486e04a7cbbb682f:0xdbd36e1ba9d66e53">Google Maps</a>
                        </div>

                        <div class="my-3">
                            Designed by <a href="http://dragoninfotech.com">DragonInfoTech</a>
                        </div>

                    </address>
                </div>
            </div>

        </div>
    </div>
</footer>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TimelineLite.min.js"></script>-->

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>-->

<script src="{{ site.url }}/assets/js/source.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/js/jasny-bootstrap.min.js"></script>

</body>
</html>