@import 'custom/vendors/juice';

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,600|Roboto&display=swap');

//body, html{
//  height:100%;
//}

.font-heavy{
  font-family: 'Josefin Sans', sans-serif;
  font-weight:600;
  font-size: rem-calc(40px);
}

.font-light{
  font-family: 'Josefin Sans', sans-serif;
  font-weight:300;
  font-size: rem-calc(40px);
}


