@import 'custom/vendors/juice';

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,600|Roboto&display=swap');

//body, html{
//  height:100%;
//}

.font-heavy{
  font-family: 'Josefin Sans', sans-serif;
  font-weight:600;
  font-size: rem-calc(40px);
}

.font-light{
  font-family: 'Josefin Sans', sans-serif;
  font-weight:300;
  font-size: rem-calc(40px);
}

.dark-overlay{
  background:rgba(0,0,0,0.7);
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
}