@import 'custom/vendors/juice';

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,600|Roboto&display=swap');

//body, html{
//  height:100%;
//}
//spacing main wrapper for pages / sidebar
@include media-breakpoint-up(lg){
  .wrapper{
    height:100%;
    width:100%;
    position: relative;
    left:100px;
    margin-left:15px;
    margin-right: 15px;
  }
}

.font-heavy{
  font-family: 'Josefin Sans', sans-serif;
  font-weight:600;
  font-size: rem-calc(40px);
}

.font-light{
  font-family: 'Josefin Sans', sans-serif;
  font-weight:300;
  font-size: rem-calc(40px);
}


