---
---

@import 'custom/bootstrap-override';
@import 'bootstrap/bootstrap';
@import 'custom/includes/side-bar';
@import 'custom/includes/_social-btn';
@import 'custom/includes/footer';
@import 'custom/helpers/global-classes';
@import 'custom/helpers/mixins';
@import 'custom/vendors/juice';

/*
 * Website Name - Website Name
 * Date - 9/5/18
 * Designed by Michael Owens / Dragon Info Tech
 */

//header-text
.header-text{
  @include media-breakpoint-up(lg){
    h1{
      @include font-heavy;
    }

    .border-right-bottom{
      border-right:1px solid black;
      border-bottom:2px solid black;
    }

    .border-left-bottom{
      border-left:1px solid black;
      border-bottom:2px solid black;
    }

    a{
      font-size: rem-calc(26px);
      text-align: right;
    }
  }
}

//craft
.craft{
  position: relative;
  height: 100%;

  &__content{
    @include centerer;
    position: relative;
    text-align: center;

    @include media-breakpoint-up(lg){
      h2{
        @include font-heavy;
        font-size: rem-calc(57px);
      }
    }
  }

  &__body p{
    @include font-light;
    font-size: rem-calc(22px);

    @include media-breakpoint-up(lg){
      font-size: rem-calc(32px);
    }

  }
}

//blog section
.blog{
  position: relative;
  height: 100%;
  width:100%;

  &--background-image{
    background: url("https://picsum.photos/1920/800/?random=4") center center no-repeat;
    background-size:cover;
  }

  &--bg-colour{
    background-color: rgba(0,0,0,0.7);
  }

  @include media-breakpoint-up(lg){
    .blog-blurb{
      top:0;
      left:0;

      p{
        @include font-light;
        font-size: rem-calc(22px);
      }
    }
    &__header{

      h2 p{
        @include font-heavy;
        font-size:rem-calc(57px);
        line-height:1.2;
      }
    }
  }

}


//Awaveawake
.awaveawake{
  position: relative;
  height: 100%;

  &--background-colour-1{
    background-color: #BF8975;
  }

  &--background-colour-2{
    background-color: #F2D8CE;
  }

  &__content{
    @include media-breakpoint-up(lg){
      @include centerer;
    }

    h2{
      font-size: rem-calc(57px);
      @include font-heavy;
    }
  }

  &__footer{
    position: absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    padding-bottom: 30px;

    a{
      font-size: rem-calc(30px) !important;
      @include font-light;
    }
  }
}

//conscious brand
.brand{
  position: relative;
  height: 500px;

  &--background-image{
    background: url("https://picsum.photos/1920/500/?random=4") center center no-repeat;
    background-size: cover;
  }

  &__content{
    @include centerer;
    width:auto !important;

    @include media-breakpoint-up(lg){
      left:30%;
    }

    h2{
      @include font-heavy;

      @include media-breakpoint-up(lg){
        font-size: rem-calc(57px);
      }
    }
  }
  .brand-bg-dark{
    background-color: rgba(255,255,255,0.8);
  }

  .brand-read-more{
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    top:50%;
    right:0;
    @include translateY(-50%);
  }
}

//vision line


//contact email


//want to chat


